<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Location..." name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hotWeatherIcon.png" *ngIf="weatherData.days[0].temp > 75">
    <img src="../assets/coldWeatherIcon.png" *ngIf="weatherData.days[0].temp <= 75">
    <div class="weather-data">
      <div class="location">{{ weatherData.address }}</div>
      <div class="temperature"> {{ weatherData.days[0].temp  | number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/coldTemp.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.days.at(0)?.tempmin }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hotTemp.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.days.at(0)?.tempmax }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.days.at(0)?.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/windSpeed.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.days.at(0)?.windspeed }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<script *ngIf="cityNotFound">
  alert("City Not Found");
</script>
<router-outlet></router-outlet>
